<div th:fragment="consultation" style="border-bottom: 1px solid rgb(184, 184, 184);">
    <a th:href="@{/dashboard/consultation/} + ${consultation.id}" class="text-dark" style="text-decoration: none;">
        <div class="row m-0 p-1">
            <div class="col-12 col-md-4 m-0 p-1 text-left">
                <h5 th:text="'#' + ${consultation.id}">Consultation ID</h5>
            </div>
            <div class="col-12 col-md-4 m-0 p-1 text-left">
                <h5 th:text="${consultation.fullName}">Fullname</h5>
            </div>
            <div class="col-12 col-md-4 m-0 p-1 text-left">
                <h5 th:text="${consultation.address}">Address</h5>
            </div>
        </div>
    </a>
</div>