<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>My Dashboard</title>
    </head>
    <body>
      <div class="site-wrap">
        <nav th:replace="fragments/new_navbar :: navbar"></nav>
                
        <div class="bg-light py-3">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-0">
                <a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Dashboard</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center py-2">
            <div class="bg-white p-2">
              <th:block th:if="${#request.userPrincipal.principal.getRole} == 'doctor'">
                <div class="text-right m-0 p-0">
                    <a th:href="@{/dashboard/consultation}">
                      <button type="button" class="btn btn-success">+ New Consult</button>
                    </a>
                  </div>
                  <hr>
                </th:block>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <th:block th:if="${#request.userPrincipal.principal.getRole} == 'doctor'">
                    <li class="nav-item">
                      <a class="nav-link active" id="consult-tab" data-toggle="tab" href="#consult" role="tab" aria-controls="consult" aria-selected="true">
                          Consultations
                      </a>
                    </li>
                  </th:block>
                  <li class="nav-item">
                    <th:block th:if="${#request.userPrincipal.principal.getRole} == 'doctor'">
                      <a class="nav-link" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">
                    </th:block>
                    <th:block th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">
                      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">
                    </th:block>
                      Pending Consultations
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab" aria-controls="confirmed" aria-selected="false">Confirmed Consultations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#delivered" role="tab" aria-controls="delivered" aria-selected="false">Delivered Consultations</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <th:block th:if="${#request.userPrincipal.principal.getRole} == 'doctor'">
                    <div class="tab-pane fade show active" id="consult" role="tabpanel" aria-labelledby="pending-tab">
                      <div th:replace="fragments/consult-tab :: consult-tab"></div>
                    </div>
                    <div class="tab-pane fade show" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                  </th:block>
                  <th:block th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">
                    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                  </th:block>
                      <div th:replace="fragments/pending-tab :: pending-tab"></div>
                  </div>
                  <div class="tab-pane fade" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
                      <div th:replace="fragments/confirmed-tab :: confirmed-tab"></div>
                  </div>
                  <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
                      <div th:replace="fragments/delivered-tab :: delivered-tab"></div>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <script src="/js/jquery-3.3.1.min.js"></script>
      <script src="/js/jquery-ui.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/aos.js"></script>
  
      <script src="/js/main.js"></script>
    </body>
</html>