<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="components/header :: header"></th:block>
        <title>My Profile</title>
    </head>
    <body>
        <div class="site-wrap">
                <nav th:replace="fragments/new_navbar :: navbar"></nav>
                
                <div class="bg-light py-3">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 mb-0">
                          <a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span>
                          <strong class="text-black">My Account</strong>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="text-center py-5">
                <div class="bg-white row text-dark mx-5 p-2">
                    <div class="nav flex-column nav-pills col-12 col-sm-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
                        <th:block th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">
                            <a class="nav-link" id="v-pills-product-tab" data-toggle="pill" href="#v-pills-product" role="tab" aria-controls="v-pills-product" aria-selected="false">Manage Products</a>
                        </th:block>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                    </div>
                    <div class="col-12 col-sm-10 tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="m-0 p-0">
                                <h3>My Profile</h3>
                                <hr>
                                <div class="text-left row m-0 p-0">
                                    <div class="col-12 col-md-4">
                                        <h5>First Name</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getFirstName}">First name</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Last Name</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getLastName}">Last name</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Email Address</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getEmail}">Email</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Sex</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getSex}">Sex</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Address</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getAddress}">Address</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Birthday</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getBirthday}">Birthday</h6>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h5>Phone Number</h5>
                                        <h6 th:text="'+63' + ${#request.userPrincipal.principal.getPhoneNumber}">Phone Number</h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-left row m-0 p-0">
                                    <div class="col-12 col-md-4">
                                        <h5>Account Type</h5>
                                        <h6 th:text="${#request.userPrincipal.principal.getRole}">Account Type</h6>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <h5 th:if="${#request.userPrincipal.principal.getRole} == 'doctor'">Doctor's License Number</h5>
                                        <h5 th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">Pharmacist's License Number</h5>
                                        <h5 th:if="${#request.userPrincipal.principal.getRole} == 'driver'">Driver's License Number</h5>
                                        <h6 th:text="${license_id}">License ID</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${#request.userPrincipal.principal.getRole} == 'pharmacist'">
                            <div class="tab-pane fade" id="v-pills-product" role="tabpanel" aria-labelledby="v-pills-product-tab">
                                <div class="m-0 p-0 row">
                                    <div class="form-inline m-0 p-0 col-12 col-md-7">
                                        <input class="form-control mr-sm-2 m-1" th:value="${keyword}" id="search"  style="width: auto;" name="keyword" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-dark my-2 my-sm-0 mr-1" type="button" onclick="loadData();">Search</button>
                                    </div>
                                    <div class="m-0 p-1 text-right col-12 col-md-5">
                                        <button type="button" onclick="newRow();" class="btn btn-success">New Product</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="m-0 p-0">
                                    <table class="table table-responsive-lg">
                                        <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Brand Name</th>
                                        <th scope="col">Generic Name</th>
                                        <th scope="col">Dosage Strength</th>
                                        <th scope="col">Form</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                    </table>
                                </div>
                                <hr>
                                <div class="m-0 p-1 text-right w-100 text-right">
                                    <button type="button" onclick="newRow();" class="btn btn-success">New Product</button>
                                </div>
                            </div>
                        </th:block>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="m-0 p-2">
                                <h3>Settings</h3>
                                <hr>
                                <div class="text-left m-0 p-0">
                                    <div class="m-0 p-0 row">
                                        <h5 class="col-12">Change Password</h5>
                                        <div class="form-group text-left col-12 col-md-4">
                                            <label for="oldPassword">Old Password</label>
                                            <input type="password" class="form-control form-control-sm" id="oldPassword" placeholder="Enter old password" required>
                                        </div>
                                    </div>
                                    <div class="m-0 p-0 row">
                                        <div class="form-group text-left col-12 col-md-4">
                                            <label for="newPassword">New Password</label>
                                            <input type="password" class="form-control form-control-sm" id="newPassword" placeholder="Enter new password" required>
                                        </div>
                                    </div>
                                    <div class="m-0 p-0 row">
                                        <div class="form-group text-left col-12 col-md-4">
                                            <label for="retype">Retype Password</label>
                                            <input type="password" class="form-control form-control-sm" id="retype" placeholder="Retype Password" required>
                                        </div>
                                    </div>
                                    <div class="ml-3 mt-0">
                                        <p id="error" class="text-danger" style="font-size: 0.8rem;" hidden="true">Wrong password or password doesn't match!</p>
                                        <button type="button" onclick="changePass();" class="btn btn-dark">Change Password</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/aos.js"></script>
    
        <script src="/js/main.js"></script>
    </body>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var newRows = 0;
        $(document).ready(function(){
            loadData();
        });

        function changePass(){
            var oldPass = $('#oldPassword').val();
            var newPass = $('#newPassword').val();
            var retypePass = $('#retype').val();
            var errorMessage = document.getElementById("error");
            
            if(newPass == retypePass){
                errorMessage.setAttribute("hidden", true);
                var param = '?pass=' + oldPass;
                $.get('/check-password' + param, function(data){
                    if(data == true){
                        var newParam = '?pass=' + newPass;
                        $.get('/change-password' + newParam, function(data){
                            location.reload();
                        });
                    }else{
                        errorMessage.removeAttribute("hidden");
                    }
                });
            }else{
                errorMessage.removeAttribute("hidden");
            }
        }

        function elementFromHtml(html){
            const template = document.createElement("template");
            template.innerHTML = html.trim();
            console.log(template.content.firstElementChild);
            return template.content.firstElementChild;
        }
        function loadData(){
            var keyword = $('#search').val();
            var parameter = '?keyword=' + keyword
            $('#tbody').empty();
            $.get("/product-search" + parameter, function(data){
                var template = '';
                var count = 1;
                data.forEach(x => {
                    template =
                        "<tr id=" + x['id'] +">" +
                            "<th scope='row'>" + count + "</th>" +
                            "<td>" + x['brandName'] + "</td>" +
                            "<td>" + x['genericName'] + "</td>" +
                            "<td>" + x['dosageStrength'] + "</td>" +
                            "<td>" + x['form'] + "</td>" +
                            "<td>" + x['description'] + "</td>" +
                            "<td>₱ " + x['price'] + "</td>" +
                            "<td>" + x['stock'] + "</td>" +
                        "</tr>";
                    count++;
                    document.getElementById('tbody').appendChild(elementFromHtml(template));
                });
            });
        }
        function removeNew(id){
            document.getElementById('tr' + id).remove();
        }
        function addNew(id){
            var brandName = $('#brandName' + id).val();
            var genericName = $('#genericName' + id).val();
            var dosageStrength = $('#dosageStrength' + id).val();
            var form = $('#form' + id).val();
            var description = $('#description' + id).val();
            var price = $('#price' + id).val();
            var stock = $('#stock' + id).val();

            var parameter = "?b=" + brandName + "&g=" + genericName + "&d=" + dosageStrength + "&f=" + form + "&desc=" + description + "&p=" + price + "&s=" + stock; 

            $.get("/new-product" + parameter, function(data){
                if(data == 'true'){
                    applyData(id);
                }else{
                    alert('Something\'s wrong!')
                }
            });
        }
        function applyData(id){
            var template = '';
            template = 
                    "<tr id='tr" + id + "'>" +
                        "<th scope='row'>...</th>" +
                        "<td>" + $('#brandName' + id).val() + "</td>" + 
                        "<td>" + $('#genericName' + id).val() + "</td>" + 
                        "<td>" + $('#dosageStrength' + id).val() + "</td>" + 
                        "<td>" + $('#form' + id).val() + "</td>" + 
                        "<td>" + $('#description' + id).val() + "</td>" + 
                        "<td>₱ " + $('#price' + id).val() + "</td>" + 
                        "<td>" + $('#stock' + id).val() + "</td>" +
                    "</tr>"
            ;
            $('#tr' + id).replaceWith(elementFromHtml(template));
            // document.getElementById('tr' + id).appendChild(elementFromHtml(template));
        }
        function newRow(){
            newRows++;
            var template = '';
            template = 
                "<tr id='tr" + newRows + "'>" +
                    "<th scope='row'>" +
                        "<button type='button' onclick='addNew(" + newRows + ");' class='btn btn-block btn-success'>+</button>" + 
                        "<button type='button' onclick='removeNew("+ newRows + ");' class='btn btn-block btn-danger'>-</button>" + 
                    "</th>" +
                    "<td><input type='text' class='form-control form-control-sm mt-4' id='brandName" + newRows + "' placeholder='Enter brand name' name='brandName' required></td>" + 
                    "<td><input type='text' class='form-control form-control-sm mt-4' id='genericName" + newRows + "' placeholder='Enter generic name' name='genericName' required></td>" + 
                    "<td><input type='text' class='form-control form-control-sm mt-4' id='dosageStrength" + newRows + "' placeholder='Enter dosage strength' name='dosageStrength' required></td>" + 
                    "<td><input type='text' class='form-control form-control-sm mt-4' id='form" + newRows + "' placeholder='Enter form' name='form' required></td>" + 
                    "<td><input type='text' class='form-control form-control-sm mt-4' id='description" + newRows + "' placeholder='Enter description' name='description' required></td>" + 
                    "<td><input type='number' class='form-control form-control-sm mt-4' id='price" + newRows + "' placeholder='Enter price' name='price' required></td>" + 
                    "<td><input type='number' class='form-control form-control-sm mt-4' id='stock" + newRows + "' placeholder='Enter stock' name='stock' required></td>" + 
                "</tr>"
            ;
            document.getElementById('tbody').append(elementFromHtml(template));
        }
    /*]]>*/
    </script>
</html>